aioredis
asgiref
asn1crypto
async-timeout
attrs
autobahn
Automat
beautifulsoup4
certifi
cffi
channels
channels-redis
chardet
constantly
cryptography
daphne
Django
django-bootstrap4
django-channels
hiredis
hyperlink
idna
incremental
msgpack
oauthlib
pycparser
PyHamcrest
pytz
requests
requests-oauthlib
six
soupsieve
sqlparse
Twisted
txaio
urllib3
zope.interface
